@import url(../../../../scss/font.css);
* {
  margin: 0;
  padding: 0; }

.roomSearch-container h1, .roomSearch-container h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal; }

.roomSearch-container .checkinto-date .checkinto-date__arrival input, .roomSearch-container .checkinto-date .checkinto-date__departure input {
  width: 150px;
  height: 44px; }

.roomSearch-container .checkinto-date .checkinto-date__arrival input, .roomSearch-container .checkinto-date .checkinto-date__departure input, .roomSearch-container .guests-amount .guests-amount__input {
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px; }

.roomSearch-container .checkinto-date .checkinto-date__arrival .material-icons, .roomSearch-container .checkinto-date .checkinto-date__departure .material-icons, .roomSearch-container .guests-amount .material-icons, .roomSearch-container .room-search .material-icons {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute; }

.roomSearch-container {
  width: 380px;
  height: 374px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px 30px 30px; }
  .roomSearch-container h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    color: #1F2041; }
  .roomSearch-container h3 {
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    color: #1F2041;
    margin-bottom: 5px; }
  .roomSearch-container .checkinto-date {
    display: flex;
    justify-content: space-between; }
    .roomSearch-container .checkinto-date .checkinto-date__arrival {
      display: inline-block;
      position: relative; }
      .roomSearch-container .checkinto-date .checkinto-date__arrival .material-icons {
        color: rgba(31, 32, 65, 0.5);
        bottom: 0;
        right: 0; }
    .roomSearch-container .checkinto-date .checkinto-date__departure {
      display: inline-block;
      position: relative; }
      .roomSearch-container .checkinto-date .checkinto-date__departure .material-icons {
        color: rgba(31, 32, 65, 0.5);
        bottom: 0;
        right: 0; }
  .roomSearch-container .guests-amount {
    width: 320px;
    height: 44px; }
    .roomSearch-container .guests-amount .guests-amount__input {
      width: inherit;
      height: inherit; }
    .roomSearch-container .guests-amount .material-icons {
      color: rgba(31, 32, 65, 0.5);
      bottom: 0;
      right: 0; }
  .roomSearch-container .room-search {
    width: 320px;
    height: 44px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    position: relative;
    padding-top: 14px;
    margin-top: 31px; }
    .roomSearch-container .room-search h3 {
      color: #FFFFFF; }
    .roomSearch-container .room-search .material-icons {
      color: #FFFFFF;
      top: 0;
      right: 0; }
