meta(charset="UTF-8")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
script(src="https://kit.fontawesome.com/3ef9158f0f.js" crossorigin="anonymous")
style
  include roomSearch.css
body
  div.roomSearch-container
    h1 Найдём номера под ваши пожелания
    div.checkinto-date
      div.checkinto-date__arrival
        h3 ПРИБЫТИЕ
        input(type="date" placeholder="")
        div.material-icons expand_more
      div.checkinto-date__departure
        h3 ВЫЕЗД
        input(type="date" placeholder="")
        div.material-icons expand_more
    div.guests-amount
      h3 ГОСТИ
      input.guests-amount__input(type="" placeholder="")
      div.material-icons expand_more
    button.room-search 
      h3 ПОДОБРАТЬ НОМЕР
      div.material-icons arrow_forward
    
