html
  body
    div.roomSearch-container
      h1 Найдём номера под ваши пожелания
      div.checkinto-date
        include ../elements/date dropdown/date-dropdown
      div.guests-amount
        h3 ГОСТИ
        include ../elements/dropdown/dropdown
      div.roomSearch__button
        a(href="search-room.html")
          - var BUTTONTEXT = 'ПОДОБРАТЬ НОМЕР';
          include ../elements/buttons/buttons
    script
      include ../elements/dropdown/dropdown.js
