meta(charset="UTF-8")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
script(src="https://kit.fontawesome.com/3ef9158f0f.js" crossorigin="anonymous")
style
  include footer.css
body
  div.roomSearch-container
    h1
    div
      input
      input
    div
      input
    div
      button
    
