html
  body
    div.roomSearch-container
      h1 Найдём номера под ваши пожелания
      div.checkinto-date
        div.checkinto-date__arrival
          h3 ПРИБЫТИЕ
          include ../elements/date dropdown/date-dropdown
        div.checkinto-date__departure
          h3 ВЫЕЗД
          include ../elements/date dropdown/date-dropdown
      div.guests-amount
        h3 ГОСТИ
        include ../elements/dropdown/dropdown
      div.roomSearch__button
        - var BUTTONTEXT = 'ПОДОБРАТЬ НОМЕР';
        include ../elements/buttons/buttons
      
