meta(charset="UTF-8")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
script(src="https://kit.fontawesome.com/3ef9158f0f.js" crossorigin="anonymous")
style
  include roomSearch.css
  include ../includes.css
body
  div.roomSearch-container
    h1 Найдём номера под ваши пожелания
    div.checkinto-date
      div.checkinto-date__arrival
        h3 ПРИБЫТИЕ
        input.small-input(placeholder="ДД.ММ.ГГГГ")
        div.material-icons expand_more
      div.checkinto-date__departure
        h3 ВЫЕЗД
        input.small-input(placeholder="ДД.ММ.ГГГГ")
        div.material-icons expand_more
    div.guests-amount
      h3 ГОСТИ
      input.long-input(type="" placeholder="Сколько гостей")
      div.material-icons expand_more
    button.room-search 
      h3 ПОДОБРАТЬ НОМЕР
      div.material-icons arrow_forward
    
