.search-room__container {
  display: flex;
  flex-direction: row;
  padding: 30px 140px;
  .search-room__search {
    width: 267px;
    margin-right: 60px;
    h3 {
      margin-bottom: 5px;
    }
    div {
      margin-bottom: 20px
    }
  }
  .search-room__variation {
    h1 {
      margin-bottom: 20px;
    }
  }
}
