.search-room__container {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 30px 140px;
  .search-room__search {
    width: 280px;
    margin-right: 60px;
    h3 {
      margin-bottom: 16px;
    }


    .search__date {
      width: 266px;
    }
    .search__guest {
      position: relative;
      .dropdown-box {
        width: 266px;
      }
      .dropdown-guest__field {
        width: 266px;
        // .dropdown_input {
        //   width: 266px;
        //
        // }
      }
      .dropdown-guest__list {
        .dropdown-guest__list__elem {
          margin-bottom: 0;
        }
      }
      .dropdown-guest__buttons {
        margin-top: 0;
      }
    }
    .search__price {
      p {
        margin-top: 13px;
        font-size: 12px;
      }
    }
    .search__more-comfort {
      display: inline-block;
    }
    .search_block {
      margin-bottom: 20px
    }
  }
  .search-room__variation {
    .search-room__cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .search-room__cards__item {
        margin: 20px 12px;
      }
    }
    h1 {
      margin-bottom: 20px;
    }
    .search-room__page {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  }
}
