@import "../../../../scss/ui-kit.scss";

.air-datepicker {
  --adp-width: 320px;
  width: var(--adp-width);
  width: 320px !important;
  padding: 20px;
  height: 369px;
  background: #FFFFFF;
  border: 1px solid $darkShade25;
  box-shadow: 0px 10px 20px $darkShade5;
  border-radius: 4px;

  .air-datepicker-nav {
    margin-bottom: 20px;
    border-bottom: none;
    .air-datepicker-nav--title {
      @extend %Montrserrat;
      font-style: normal;
      font-weight: 700;
      font-size: 19px;
      line-height: 23px;
      color: #1F2041;
      --adp-background-color-hover: #fff;
      --adp-background-color-active: #fff;
      i {
        color: #1F2041;
      }
    }
  }
  .air-datepicker-nav--action {
    cursor: pointer;
    --adp-background-color-hover: #fff;
    --adp-background-color-active: #fff;
  }
  .air-datepicker--content {
    margin-bottom: 20px;
    .air-datepicker-body--day-name {
      @extend %Montrserrat;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      --adp-width: 40px;
      width: var(--adp-width);
      --adp-height: 40px;
      height: var(--adp-height);
      color: $purple;
    }
    .air-datepicker-body--cells {
      --adp-day-cell-height: 40px;
      grid-auto-rows: var(--adp-day-cell-height);
      .air-datepicker-cell {
        @extend %Montrserrat;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: $darkShade50;
        --adp-width: 40px;
        width: var(--adp-width);
        --adp-height: 40px;
        height: var(--adp-height);
      }
      .-other-month- {
        color: $darkShade25;
        opacity: 0.5;
      }
      .-focus- {
        width: 40px;
        height: 40px;
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        border-radius: 22px;
        --adp-color: #FFFFFF;
        color: var(--adp-color);
      }
      .-selected- {
        width: 39.88px;
        height: 40px;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 22px;
        --adp-color: #FFFFFF;
        color: var(--adp-color);
      }
      .-in-range- {
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        opacity: 0.25;
      }
    }
  }
  .air-datepicker--buttons {
    border-top: none;
    .air-datepicker-buttons {
      display: flex;
      justify-content: space-between;
      .air-datepicker-button {
        --adp-btn-width: 72px;
        width: var(--adp-btn-width);
        background: rgba(255, 255, 255, 0);
        span {
          @extend %Montrserrat;
          font-weight: 700;
          font-size: 12px;
          line-height: 15px;
          text-transform: uppercase;
          color: $purple;
        }
      }
    }
  }
}
