html
  body
    div.rich-section
      Input(class="rich-section__button" type="checkbox" id="rs1")
      label(for="rs1")
        div
          p.rich-text__head Широкий коридор
          p Ширина коридоров в номере не менее 91 см.
    div.rich-section
      Input(class="rich-section__button" type="checkbox" id="rs2")
      label(for="rs2")
        div
          p.rich-text__head Помощник для инвалидов
          p На 1 этаже вас встретит специалист и проводит до номера.
    
