@import "../../../../scss/ui-kit.scss";

.rich-section {
  margin-bottom: 10px;
  .rich-section__button {
    position: absolute;
    opacity: 0;
    z-index: -1;
    + label {
      display: inline-flex;
      align-items: flex-start;
      user-select: none;
      position: relative;
      cursor: pointer;
      &:before {
        content: "";
        display: inline-block;
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        border: 1px solid $darkShade25;
        box-sizing: border-box;
        border-radius: 4px;
        margin-right: 10px;
      }
      img {
        background-color: transparent;
        display: block;
        position: absolute;
        left: 5px;
        top: 5px;
        opacity: 0;
      }

    }
    &:checked {
      + label {
        &:before {
          border-color: $purple;
          background-size: 6px;
        }
        img {
          opacity: 1;
        }

      }
    }
  }
  label {
    div {
      p {
        color: $darkShade50;
        font-size: 12px;
      }
      .rich-text__head {
        color: $darkShade75;
        font-weight: 700;
        margin-bottom: 5px;
        font-size: 14px;
      }
    }

  }
}
