meta(charset="UTF-8")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
script(src="https://kit.fontawesome.com/3ef9158f0f.js" crossorigin="anonymous")
style
  include ./../../../../../dist/main.css
body
  div.rich-checkbox
    div.rich-section
      Input.rich-section__button
      div.rich-section__text
        h3 Широкий коридор
        p Ширина коридоров в номере не менее 91 см.
    div.rich-section
      Input.rich-section__button
      div.rich-section__text
        h3 Помощник для инвалидов
        p На 1 этаже вас встретит специалист и проводит до номера.
    
