.room-details {
  h2 {
    margin-bottom: 20px;
  }

  .room-details__info {
    margin: 70px 140px;
    display: flex;
    flex-direction: row;
    .info__about {
      display: flex;
      flex-direction: row;
      margin-bottom: 30px;
    }
    .info__regulation {
      display: flex;
      flex-direction: row;
      margin-bottom: 30px;
    }
  }
}
