html
  head
    style 
      include rate-button.scss
  body
    form.rate
      //- each item in [1, 2, 3, 4, 5] потом переделать на цикл
      div.rating
        
          input(type="radio" id="rate-5" name="rate__star" value="5")
          label(for="rate-5")

          input(type="radio" id="rate-4" name="rate__star" value="4")
          label(for="rate-4")

          input(type="radio" id="rate-3" name="rate__star" value="3")
          label(for="rate-3")

          input(type="radio" id="rate-2" name="rate__star" value="2")
          label(for="rate-2")

          input(type="radio" id="rate-1" name="rate__star" value="1")
          label(for="rate-1")

          //- input(type="radio" id="rate-0" name="rate__star" value="0" class="rate__clear")
          //- label(for="rate-0")

        
