@import "../../../../scss/ui-kit.scss";

.desccription {
  height: 158px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .desccription__tittle {
    .desccription__tittle__icon {
      display: inline-block;
      .tittle__icon {
        width: 48px;
        height: 48px;
        margin-right: 10px;
      }
    }
    .desccription-text {
      display: inline-block;
      .desccription-text__head {
        font-weight: 700;
        margin-bottom: 10px;
      }
    }
  }
  .desccription__tittle__line {
    width: 280px;
    height: 1px;
    background: rgba(31, 32, 65, 0.1);
  }
}
