html
  body
    div.desccription
      div.desccription__tittle
        div.desccription__tittle__icon
          img(src="assets/images/insert_emoticon.svg" class="tittle__icon" alt='emoticon')
        div.desccription-text
          p.desccription-text__head Комфорт
          p Шумоподавляющие стены
      div.desccription__tittle__line
      div.desccription__tittle
        div.desccription__tittle__icon
          img(src="assets/images/location_city.svg" class="tittle__icon" alt='city')
        div.desccription-text
          p.desccription-text__head Удобство
          p Окно в каждой из спален
      div.desccription__tittle__line
      
    
