@import "../../../../scss/ui-kit.scss";

.desccription {
  position: relative;
  width: 291px;
  height: 158px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .desccription__tittle {
    width: inherit;
    display: flex;
    justify-content: space-between;
    .desccription__tittle__icon {
      .tittle__icon {
        width: 48px;
        height: 48px;
      }
    }
    .desccription-text {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      .desccription-text__head {
        font-weight: 700;
      }
    }
    span {
      position: absolute;
      width: 280px;
      height: 1px;
      left: 140px;
      top: 1632px;
      background: rgba(31, 32, 65, 0.1);
    }
  }
}
