html
  body
    div.dropdown-field 
      input(class="dropdown__input" type="text" placeholder="Сколько гостей")
      span.matetial-icons expand_more
    div.dropdown-box
      ul.dropdown-box__list
        li.dropdown-box__list__elem
          h3 ВЗРОСЛЫЕ
          span.delete-guest
          h3.guest-number
          span.add-guest
        li.dropdown-box__list__elem
          h3 ДЕТИ
          span.delete-guest
          h3.guest-number
          span.add-guest
        li.dropdown-box__list__elem
          h3 МЛАДЕНЦЫ
          span.delete-guest
          h3.guest-number
          span.add-guest
      div.dropdown-box__buttons
        button
          h3 ОЧИСТИТЬ
        button
          h3 ПРИМЕНИТЬ
    script
      include dropdown.js
