@import "../../../../scss/ui-kit.scss";

.dropdown-field {
  width: 320px;
  height: 44px;
  position: relative;
  .matetial-icons {
    height: 44px;
    width: 44px;
    position: absolute;
    right: 0;
    top: 0;
    color: $darkShade50;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.dropdown-box {
  padding: 15px;
  background: #FFFFFF;
  border: 1px solid $darkShade50;
  box-shadow: 0px 10px 20px $darkShade5;
  .dropdown-box__list {
    .dropdown-box__list__elem {
      list-style: none;
      margin-bottom: 22px;
    }
  }
  .dropdown-box__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    button {
      background-color: rgba(255, 255, 255, 0);
      border: none;

      h3 {
        color: #BC9CFF;
      }
    }
  }
}
