html
  body
    div.dropdown-field 
      input(id="airdatepicker" class="dropdown__input" type="text" placeholder="Сколько гостей")
      span.matetial-icons expand_more
    script
      include dropdown.js
