@import "../../../../scss/ui-kit.scss";

.dropdown-field {
  width: 320px;
  height: 44px;
  position: relative;
  .material-icons {
    position: absolute;
    color: $darkShade50;
    bottom: 0;
    right: 0;
  }
}
