@import "../../../../scss/ui-kit.scss";

.dropdown-field {
  width: 320px;
  height: 44px;
  position: relative;
  .matetial-icons {
    height: 44px;
    width: 44px;
    position: absolute;
    right: 0;
    top: 0;
    color: $darkShade50;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
