@import "../../../../scss/ui-kit.scss";


.expandable-checkbox {
  .expandable-checkbox__icon {
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 24px;
    height: 24px;
    .material-icons {
      position: absolute;
      top: 0;
      left: 0;
      color: $darkShade50;
      cursor: pointer;
    }
  }
}

.expandable-checkbox-list {
  display: none;
  margin-top: 24px;
  .expandable-checkbox__item {
    margin-bottom: 10px;
    .expandable-checkbox__button {
      position: absolute;
      opacity: 0;
      z-index: -1;
      + label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        position: relative;
        cursor: pointer;
        &:before {
          content: "";
          display: inline-block;
          width: 20px;
          height: 20px;
          border: 1px solid $darkShade25;
          box-sizing: border-box;
          border-radius: 4px;
          margin-right: 10px;
        }
        img {
          background-color: transparent;
          display: block;
          position: absolute;
          left: 5px;
          top: 8px;
          opacity: 0;
        }
      }
      &:checked {
        + label {
          &:before {
            border-color: $purple;
            background-size: 6px;
          }
          img {
            opacity: 1;
          }
        }
      }
    }
    label {
      p {
        display: inline-block;
        color: $darkShade50;
      }
    }

  }
}
.expandable-checkbox__show {
  display: block;
}
