html
  body
    div.expandable-checkbox
      h3 ДОПОЛНИТЕЛЬНЫЕ УДОБСТВА
      button.expandable-checkbox__icon
        span.material-icons expand_more
        
    div.expandable-checkbox-list
      div.expandable-checkbox__item
        input(class="expandable-checkbox__button" type="checkbox" id="ecb1")
        label(for="ecb1")
          img(src="assets/images/Vector.svg" alt='check')
          p Завтрак
      div.expandable-checkbox__item
        input(class="expandable-checkbox__button" type="checkbox" id="ecb2")
        label(for="ecb2")
          img(src="assets/images/Vector.svg" alt='check')
          p Письменный стол
      div.expandable-checkbox__item
        input(class="expandable-checkbox__button" type="checkbox" id="ecb3")
        label(for="ecb3")
          img(src="assets/images/Vector.svg" alt='check')
          p Стул для кормления
      div.expandable-checkbox__item
        input(class="expandable-checkbox__button" type="checkbox" id="ecb4")
        label(for="ecb4")
          img(src="assets/images/Vector.svg" alt='check')
          p Кроватка
      div.expandable-checkbox__item
        input(class="expandable-checkbox__button" type="checkbox" id="ecb5")
        label(for="ecb5")
          img(src="assets/images/Vector.svg" alt='check')
          p Телевизор
      div.expandable-checkbox__item
        input(class="expandable-checkbox__button" type="checkbox" id="ecb6")
        label(for="ecb6")
          img(src="assets/images/Vector.svg" alt='check')
          p Шампунь
      //- div.expandable-checkbox-list
      //-   - 
      //-     var checkboxArray = [
      //-       {
      //-           input: 'id="ecb1"',
      //-           lable: 'for="ecb1"',
      //-           p: 'Завтрак'
      //-       },
      //-       {
      //-           input: 'id="ecb2"',
      //-           lable: 'for="ecb2"',
      //-           p: 'Письменный стол'
      //-       },
      //-       {
      //-           input: 'id="ecb3"',
      //-           lable: 'for="ecb3"',
      //-           p: 'Стул для кормления'
      //-       },
      //-       {
      //-           input: 'id="ecb4"',
      //-           lable: 'for="ecb4"',
      //-           p: 'Кроватка'
      //-       },
      //-       {
      //-           input: 'id="ecb5"',
      //-           lable: 'for="ecb5"',
      //-           p: 'Телевизор'
      //-       },
      //-       {
      //-           input: 'id="ecb6"',
      //-           lable: 'for="ecb6"',
      //-           p: 'Шампунь'
      //-       }
      //-     ]
      //-   each item in checkboxArray
      //-     div.expandable-checkbox-list
      //-       input(class="expandable-checkbox__button" type="checkbox")= item.input 
      //-       label= item.label
      //-         p= item.p
    //- script
      //- include expandable-checkbox.js
