html
  body
    span.material-icons expand_more
    div.expandable-checkbox-list
      input(class="expandable-checkbox__button" type="checkbox" id="cb1")
      label(for="cb1")
        p Можно курить
