html
  body
    div.container
      div.logo
        img(src="images/Group.svg" class="logo__image" alt='Toxin')
        img(src="images/TOXIN.svg" class="logo__name" alt='Toxin')
      nav.nav
        - 
          var navArray = [
            {
                title: 'О нас',
                url: '/',
                active: ''
            },
            {
                title: 'Услуги',
                url: '/',
                //- icon: 'expand_more'
            },
            {
                span: 'expand_more',
                url: '/'
            },
            {
                title: 'Вакансии',
                url: '/'
            },
            {
                title: 'Новости',
                url: '/'
            },
            {
                title: 'Соглашения',
                url: '/'
                //- icon: 'expand_more'
            },
            {
                span: 'expand_more',
                url: '/'
            }
          ]
        ul.nav-list
          each item in navArray
            li.nav-list__item
              a(href=item.url)
                p= item.title 
                span.material-icons= item.span
                   

      div.user-button
        div.user-button__login
          include ../elements/buttons/small-white-button
            h3 ВОЙТИ
        div.user-button__registration
          - var BUTTONTEXT = 'ЗАРЕГИСТРИРОВАТЬСЯ';
          include ../elements/buttons/buttons
