@import "../../../scss/ui-kit.scss";
@import "../elements/buttons/buttons.scss";


.header-container {
  width: 100%;
  position: relative;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // background-color: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  box-sizing: border-box;
  padding: 0 140px;
  .logo {
    margin: 15px;
    max-width: 390px;
      .logo__image {
        width: 40px;
        margin-right: 12px;
        height: 70px;
      }
      .logo__name {
        width: 53.19px;
        height: 70px;
      }
    }
  .nav {
    margin-left: auto;
    .nav-list {
      display: flex;
      justify-content: space-around;
      .nav-list__item {
        position: relative;
        margin-right: 20px;
        list-style: none;
        a {
          color: $darkShade50;
          text-decoration: none;
          display: inline-block;
          p {
            color: $darkShade50;
          }
        }
        .material-icons {
          right: -15px;
          top: -10px;
        }
      }

    }
  }
  .user-button {
    .user-button__login {
      display: inline-block;
      margin-right: 20px;
    }
    .user-button__registration {
      display: inline-block;
       .material-icons {
        display: none;
      }

    }
  }
  .user-authorization {
    display: none;
    .user-authorization__line {
      position: absolute;
      height: 30px;
      border-left: 1px solid rgba(31, 32, 65, 0.1)
    }
    p {
      margin-left: 20px;
      color: $darkShade50;
    }
  }
}
