@import url(../../../../scss/font.css);
* {
  margin: 0;
  padding: 0; }

.container .nav .nav-list .nav-list__item, .container .user-button .login__button p, .container .user-button .registation__button p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  letter-spacing: 1px; }

.container {
  width: 100%;
  position: relative;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  box-sizing: border-box;
  padding: 0 140px; }
  .container .logo {
    margin: 15px; }
    .container .logo .logo__image {
      width: 40px;
      margin-right: 12px;
      height: 70px; }
    .container .logo .logo__name {
      width: 53.19px;
      height: 70px; }
  .container .nav {
    width: 447px; }
    .container .nav .nav-list {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .container .nav .nav-list .nav-list__item {
        list-style: none;
        font-style: normal;
        font-size: 14px;
        line-height: 17px;
        font-weight: 400; }
        .container .nav .nav-list .nav-list__item .material-icons {
          position: absolute;
          bottom: 23px;
          font-family: 'Material Icons';
          font-weight: normal;
          font-style: normal;
          font-size: 24px;
          line-height: 1;
          text-transform: none;
          color: rgba(31, 32, 65, 0.5);
          cursor: pointer; }
        .container .nav .nav-list .nav-list__item a {
          color: rgba(31, 32, 65, 0.5);
          text-decoration: none; }
  .container .user-button {
    display: flex;
    justify-content: space-between; }
    .container .user-button .login__button {
      padding: 10px 20px;
      background: #FFFFFF;
      box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
      border-radius: 22px;
      border: 2px solid -webkit-linear-gradient(#BC9CFF 0%, #8BA4F9 100%); }
      .container .user-button .login__button p {
        color: #BC9CFF;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px; }
    .container .user-button .registation__button {
      padding: 10px 20px;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border-radius: 22px;
      margin-left: 20px; }
      .container .user-button .registation__button p {
        color: #FFFFFF;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px; }
