@import "../../../../scss/ui-kit.scss";

.room-impression {
  width: 310px;
  display: flex;
  flex-direction: row;
  .room-impression__stat {
    width: 120px;
    margin-right: 30px;
  }
  .room-impression__detail {
    margin-top: 30px;
    .room-impression__detail__item {
      display: flex;
      flex-direction: row;
      .room-impression__detail__ellipse {
        width: 10px;
        height: 10px;
        margin-right: 5px;
        margin-bottom: 15px;
        // border-radius: 50%;
        // background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      }
      .room-impression__detail__text {
        margin-top: -7px;
      }
    }

  }
}
