html
  body
    div.room-impression
      div.room-impression__stat
        img(src="assets/images/Pie.png" class="stat__image" alt='Stat')
      div.room-impression__detail
        - 
          var detailArray = [
            {
              ellipse: 'assets/images/Ellipse.png',
              text: 'Великолепно'
            },
            {
              ellipse: 'assets/images/Ellipse(1).png',
              text: 'Хорошо'
            },
            {
              ellipse: 'assets/images/Ellipse(2).png',
              text: 'Удовлетворительно'
            },
            {
              ellipse: 'assets/images/Ellipse(3).png',
              text: 'Разочарован'
            }
          ]
        each item in detailArray
          div.room-impression__detail__item
            img.room-impression__detail__ellipse(src=item.ellipse)
            p.room-impression__detail__text= item.text
            
        
        
      
