@import "../../../../scss/ui-kit.scss";

.radio-buttons {
  width: 220px;
  .radio-buttons__elem {
    display: inline-block;
    margin-right: 20px;
    input {
      display: none;
      &:checked + label:before {
        width: 12px;
        height: 1px;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      }
    }
    label {
      display: inline-block;
      cursor: pointer;

      position: relative;
      user-select: none;
      &:before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        position: absolute;
        border: 1px solid $purple;
        border-radius: 50%;
      }
      p {
        margin-left: 30px;
      }
    }
  }
}
