html
  body
    div.radio-buttons
      div.radio-buttons__elem
        input(id="man" type="radio" name="radio" value="man"  checked)
        label(for="man")
          p Мужчина
      div.radio-buttons__elem
        input(id="woman" type="radio" name="radio" value="woman")
        label(for="woman")
          p Женщина
