@import "../../../../scss/ui-kit.scss";
.bullet-elem {
  width: 270px;
  display: flex;
  flex-direction: row;
  .bullet-elem__ellipse {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: $darkShade25;
    border-radius: 50%;
  }
}
