html
  body
    div.bullet-elem
      div.bullet-elem__ellipse
      p Нельзя с питомцами
    div.bullet-elem
      div.bullet-elem__ellipse
      p Без вечеринок и мероприятий
    div.bullet-elem
      div.bullet-elem__ellipse.bullet-elem__ellipse_side
      p.
        Время прибытия — после 13:00, <br>
        а выезд до 12:00
