meta(charset="UTF-8")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
script(src="https://kit.fontawesome.com/3ef9158f0f.js" crossorigin="anonymous")
style
  include ./bullet-list.scss
  include ./../../../../scss/ui-kit.scss
body
  div.bullet-elem
    span.bullet-elem__ellipse
    p Нельзя с питомцами
  div.bullet-elem
    span.bullet-elem__ellipse
    p Без вечеринок и мероприятий
  div.bullet-elem
    span.bullet-elem__ellipse
    p Время прибытия — после 13:00, а выезд до 12:00
