html
  head
    style 
      include bullet-list.scss
  body
    div.bullet-elem
      div.bullet-elem__ellipse
      p Нельзя с питомцами
    div.bullet-elem
      div.bullet-elem__ellipse
      p Без вечеринок и мероприятий
    div.bullet-elem
      div.bullet-elem__ellipse
      p Время прибытия — после 13:00, а выезд до 12:00
