html
  head
    style
      include ./../airdatepicker/air-datepicker.css
  body
    div.calendar
      input(id="calendar__input" class="date-dropdown__input calendar__input" type="text" placeholder="ДД.ММ.ГГГГ")
      span.material-icons expand_more
    script
      include ./../airdatepicker/air-datepicker.js
    script
      include calendar.js
      
