@import "../../../../scss/ui-kit.scss";


.checkbox {
  display: flex;
  flex-direction: row;
  .checkbox__button {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0;
    &:before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1px solid $darkShade25;
      box-sizing: border-box;
      border-radius: 4px;
      margin-right: 10px;
      &:checked {
        border-color: $purple;
        // background-image: url();вставить
      }
    }
  }
  p {
    color: $darkShade50;
  }
}
