html
  body
    div.checkbox
      input(class="checkbox__button" type="checkbox" id="cb1")
      label(for="cb1")
        p Можно курить
    div.checkbox
      input(class="checkbox__button" type="checkbox" id="cb2")
      label(for="cb2")
        p Можно с питомцами
    div.checkbox
      input(class="checkbox__button" type="checkbox" id="cb3")
      label(for="cb3")
        p Можно пригласить гостей(до 10 человек)
