html
  head
    style 
      include checkbox-button.scss
  body
    div.checkbox-list__elem
      input(class="checkbox__button" type="checkbox" id="cb1")
      label(for="cb1")
        img(src="images/Vector.svg" alt='check')
        p Можно курить
    div.checkbox-list__elem
      input(class="checkbox__button" type="checkbox" id="cb2")
      label(for="cb2")
        img(src="images/Vector.svg" alt='check')
        p Можно с питомцами
    div.checkbox-list__elem
      input(class="checkbox__button" type="checkbox" id="cb3")
      label(for="cb3")
        img(src="images/Vector.svg" alt='check')
        p Можно пригласить гостей(до 10 человек)
