extends ./../layout/main/main.pug

//- block variable 
//нужно?
//- - var pageClass = landing-page
block content
  div
    img(src="images/image 3.png" class="landing-page__img" alt='landing-page-img')
  div
    include ./../includes/room search/roomSearch.pug
  
