extends ../../layout/main.pug
  include ../../../../dist/index.css
block content
  div
    img(class="landing-page__img" alt='landing-page-img' src=require("images/image 3.png"))
  div
    include ../../includes/room search/roomSearch.pug
  
