extends ../../layout/main.pug
  
block content
  div.index__background
    img.landing-page__img(src=require("images/image 3.png"))
  div.index__room-search
    include ../../includes/room search/roomSearch.pug
  
