
// * {
//   margin: 0 auto;
// }

.index__background {
  .landing-page__img {
    width: 100%;
    position: relative;

  }
  .index__room-search {
    .roomSearch-container {
      position: absolute;
      top: 140px;
      left: 150px;
    }
  }
}
