html
  head
    style 
      include toggle.scss
  body
    //- div
    //-   label.toggle
    //-     input(type="checkbox") 
    //-     p Получать спецпредложения
    div(class="toggle")
      input(type="checkbox" class="toggle__checkbox" id="tc")
      label(for="tc")
        p Получать спецпредложения
      
