meta(charset="UTF-8")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
script(src="https://kit.fontawesome.com/3ef9158f0f.js" crossorigin="anonymous")
style
  include buttons.css
  include ../../../../scss/ui-kit.css
body
  button.button
    h3 ПЕРЕЙТИ К ОПЛАТЕ
    span.material-icons
  button.small-button
