html
  body
    button.button
      h3 ПЕРЕЙТИ К ОПЛАТЕ
      span.material-icons arrow_forward
    button.small-white-button
      h3 ВОЙТИ
    button.small-lilac-button
      h3 ВОЙТИ
    button.small-text-button
      h3 ВОЙТИ
