html
  body
    div.signIn-container
      h1 ВОЙТИ
      div.sign-in-data
        include ../elements/text field/text-field
        //(placeholder="Email")
        include ../elements/text field/text-field
        //(placeholder="Пароль")
      div
        - var BUTTONTEXT = 'ВОЙТИ';
        include ../elements/buttons/buttons
      div.sign-in-account
        p Уже есть аккаунт на Toxin
        div
          include ../elements/buttons/small-white-button
            h3 СОЗДАТЬ
          
