html
  head
    style 
      include signIn.scss
  body
    div.signIn-container
      h1 ВОЙТИ
      div.sign-in-data
        - var PLACEHOLDER = 'Email';
        include ../elements/text field/text-field
        - var PLACEHOLDER = 'Пароль';
        include ../elements/text field/text-field
      div
        - var BUTTONTEXT = 'ВОЙТИ';
        include ../elements/buttons/buttons
      div.sign-in-account
        p Уже есть аккаунт на Toxin
        div
          include ../elements/buttons/small-white-button
            h3 СОЗДАТЬ
          
