html
  body
    div.signIn-container
      h1 ВОЙТИ
      div.sign-in-data
        input.long-input(placeholder="Email")
        input.long-input(placeholder="Пароль")
      button.long-lilac-button
        h3 ВОЙТИ
        div.material-icons arrow_forward
      div.sign-in-account
        p Уже есть аккаунт на Toxin
        button.small-white-button
          h3 СОЗДАТЬ
      
