meta(charset="UTF-8")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
script(src="https://kit.fontawesome.com/3ef9158f0f.js" crossorigin="anonymous")
style
  include registration.css
body
  div.registration-container
    div
      h1 Регистрация аккаунта
    div
        input
        input
        input(type="checkbox")
    div
      h3 ДАТА РОЖДЕНИЯ
      input
    div
      h3 ДАННЫЕ ДЛЯ ВХОДА В СЕРВИС
      input
      input
      input
    div
      button ПЕРЕЙТИ К ОПЛАТЕ
    div
      p
      button ВОЙТИ
                 
