html
  head
    style 
      include registration.scss
  body
    div.registration-container
      h1 Регистрация аккаунта
      div.user-information
        div.user-name
          include ../elements/text field/text-field 
          //имя
        div.user-surname
          include ../elements/text field/text-field 
          //фамилия
        div.user-sex
          include ../elements/radio buttons/radio-buttons
        div.user-birth-date
          h3 ДАТА РОЖДЕНИЯ
          include ../elements/date dropdown/date-dropdown
      div.registration__sign-in-data
        h3 ДАННЫЕ ДЛЯ ВХОДА В СЕРВИС
        div
          include ../elements/text field/text-field 
        //(placeholder="Email")
        div
          include ../elements/text field/text-field 
        //(placeholder="Пароль")
        div
          include ../elements/toggle/toggle
      div
        - var BUTTONTEXT = 'ПЕРЕЙТИ К ОПЛАТЕ';
        include ../elements/buttons/buttons
      div.registration__sign-in
        p Уже есть аккаунт на Toxin
        div
          include ../elements/buttons/small-white-button
            h3 ВОЙТИ
                     
