html
  body
    div.registration-container
      h1 Регистрация аккаунта
      div.user-information
        div.user-name
          include ../elements/text field/text-field 
          //имя
        div.user-surname
          include ../elements/text field/text-field 
          //фамилия
        div.user-sex
          include ../elements/radio buttons/radio-buttons
        div.user-birth-date
          h3 ДАТА РОЖДЕНИЯ
          include ../elements/dropdown/dropdown
      div.sign-in-data
        h3 ДАННЫЕ ДЛЯ ВХОДА В СЕРВИС
        include ../elements/text field/text-field 
        //(placeholder="Email")
        include ../elements/text field/text-field 
        //(placeholder="Пароль")
        include ../elements/toggle/toggle
      div
        include ../elements/buttons/buttons
        h3 ПЕРЕЙТИ К ОПЛАТЕ
      div.sign-in-account
        p Уже есть аккаунт на Toxin
        div
          include ../elements/buttons/small-white-button
            h3 ВОЙТИ
                     
