meta(charset="UTF-8")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
script(src="https://kit.fontawesome.com/3ef9158f0f.js" crossorigin="anonymous")
style
  include registration.css
body
  div.registration-container
    div
      h1
    div
        input
        input
        input
    div
      h3
      input
    div
      h3
      input
      input
      input
    div
      button
    div
      p
      button
                 
