meta(charset="UTF-8")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
script(src="https://kit.fontawesome.com/3ef9158f0f.js" crossorigin="anonymous")
style
  include ./../../../../dist/main.css
body
div.registration-container
  h1 Регистрация аккаунта
  div.user-information
    div.user-name
      input.long-input(placeholder="Имя")
    div.user-surname
      input.long-input(placeholder="Фамилия")
    div.user-sex
      input(type="radio" value="Мужчина")
      input(type="radio" value="Женщина")
    div.user-birth-date
      h3 ДАТА РОЖДЕНИЯ
      input.long-input(placeholder="ДД.ММ.ГГГГ")
  div.sign-in-data
    h3 ДАННЫЕ ДЛЯ ВХОДА В СЕРВИС
    input.long-input(placeholder="Email")
    input.long-input(placeholder="Пароль")
    input(type="checkbox" value="Получать спецпредложения")
  button.long-lilac-button
    h3 ПЕРЕЙТИ К ОПЛАТЕ
    div.material-icons arrow_forward
  div.sign-in-account
    p Уже есть аккаунт на Toxin
    button.small-white-button
      h3 ВОЙТИ
                 
