@import url(../../../../scss/font.css);
* {
  margin: 0;
  padding: 0; }

h1, h2, h3, p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal; }

.registration-container .long-lilac-button .material-icons {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute; }

.long-input, .small-input {
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 44px; }

.long-input {
  width: 320px;
  height: 44px; }

.small-input {
  width: 150px;
  height: 44px; }

h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  color: #1F2041; }

h2 {
  font-size: 19px;
  font-weight: bold;
  line-height: 23px;
  color: #1F2041; }

h3 {
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  color: #1F2041;
  margin-bottom: 5px; }

p {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: #1F2041;
  margin-top: 10px;
  color: rgba(31, 32, 65, 0.75); }

.long-lilac-button {
  width: 320px;
  height: 44px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  position: relative; }
  .long-lilac-button h3 {
    color: #FFFFFF;
    margin: 0 auto; }

.small-white-button {
  width: 99px;
  height: 44px;
  border: 2px solid linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  position: relative; }
  .small-white-button h3 {
    color: #BC9CFF;
    margin: 0 auto; }

.registration-container {
  width: 380px;
  height: 646px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px 30px 30px; }
  .registration-container .user-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .registration-container .user-information input {
      margin-bottom: 10px; }
  .registration-container .sign-in-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .registration-container .sign-in-data input {
      margin-bottom: 10px; }
  .registration-container .long-lilac-button .material-icons {
    color: #FFFFFF;
    top: 0;
    right: 0; }
  .registration-container .sign-in-account {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
