meta(charset="UTF-8")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
script(src="https://kit.fontawesome.com/3ef9158f0f.js" crossorigin="anonymous")
style
  include ./../../../../../dist/main.css
body
  div
    input.dropdown
    span.material-icons expand_more
