@import "../../../../scss/ui-kit.scss";

.dropdown {
  position: relative;
  .dropdown__input {
    width: 266px;
  }
  .matetial-icons {
    height: 44px;
    width: 44px;
    position: absolute;
    right: 0;
    top: 0;
    color: $darkShade50;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
