html
  body
    div.dropdown-room-field
      input(class="dropdown__input dropdown__input__room" type="text")
      span.material-icons expand_more
    div.dropdown-room-container
      div.dropdown-room
        ul.dropdown-room__list
          li.dropdown-room__list__elem
            h3 СПАЛЬНИ
            div.room-number
              button.room-number__delete.rnd1 -
              h3.room-number__amount.rnam1 0
              button.room-number__add.rna1 +
          li.dropdown-room__list__elem
            h3 КРОВАТИ
            div.room-number
              button.room-number__delete.rnd2 -
              h3.room-number__amount.rnam2 0
              button.room-number__add.rna2 +
          li.dropdown-room__list__elem
            h3 ВАННЫЕ КОМНАТЫ
            div.room-number
              button.room-number__delete.rnd3 -
              h3.room-number__amount.rnam3 0
              button.room-number__add.rna3 +
    script
      include dropdown-room.js
