html
  body
    div.calendar-container
      div
        div.material-icons
          h2 Август 2019
        div.material-icons
      div
        
      div
        p ОЧИСТИТЬ
        p ПРИМЕНИТЬ
      
