extends ../../layout/main.pug

block content
  div.registration__background
    img.registration-page__img(src="assets/images/image 6.png") 
  div.registration__form
    include ../../includes/account registration/registration.pug
  div.registration__sign-in
    include ../../includes/sign in/signIn.pug
