// @import "./../../../scss/font.scss";
// @import "../../../scss/ui-kit.scss";
// @import "../../includes/header/header.scss";
// @import "../../includes/footer/footer.scss";
// @import "../../includes/account registration/registration.scss";
// @import "../../includes/sign in/signIn.scss";

.registration__background {
  .registration-page__img {
    width: 100%;
    position: relative;
  }
  .registration__form {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
  }
  .registration__sign-in {
    display: none;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
  }
}
