
.registration__background {
  .registration-page__img {
    width: 100%;
    position: relative;
  }
  .registration__form {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
  }
  .registration__sign-in {
    display: none;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
  }
}
