extends ../../layout/main.pug

block content
  div
    img(class="landing-page__img" alt='landing-page-img' src=require("images/image 6.png"))
  div
    include ../../includes/account registration/registration.pug
  div
    include ../../includes/sign in/signIn.pug
