meta(charset="UTF-8")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
script(src="https://kit.fontawesome.com/3ef9158f0f.js" crossorigin="anonymous")
style
  include bookAroom.css
  include ../includes.css
body
  div.bookAroom-container
    div.room-info
      h1.room-info__number №888 люкс
      p.room-info__price 9990 в сутки
    div.checkinto-date
      div.checkinto-date__arrival
        h3 ПРИБЫТИЕ
        input.small-input(placeholder="19.08.2019")
        div.material-icons expand_more
      div.checkinto-date__departure
        h3 ВЫЕЗД
        input.small-input(placeholder="23.08.2019")
        div.material-icons expand_more
    div.guests-amount
      h3 ГОСТИ
      input.long-input(type="" placeholder="3 гостя")
      div.material-icons expand_more
    div.price__list
      p 9990p x 4 суток 39960р 
      p Сбор за услуги: скидка 2179р 0р
      p Сбор за дополнителные услуги 300р
    h2.price__result Итого 38081
    button.long-lilac-button
      h3 ЗАБРОНИРОВАТЬ
      div.material-icons arrow_forward
    
                 
