meta(charset="UTF-8")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
script(src="https://kit.fontawesome.com/3ef9158f0f.js" crossorigin="anonymous")
style
  include bookAroom.css
body
  div.bookAroom-container
    div
      h1 №888 люкс
      p 9990 в сутки
    div
      label ПРИБЫТИЕ
      input
      label ВЫЕЗД
      input
    div
      label ГОСТИ
      input
    div 
      p 
      p
      p
    h2 Итого 38081
    div
      button ЗАБРОНИРОВАТЬ
    
                 
