@import url(../../../../scss/font.css);
* {
  margin: 0;
  padding: 0; }

.bookAroom-container h1, .bookAroom-container h2, .bookAroom-container h3, .bookAroom-container p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal; }

.bookAroom-container .checkinto-date .checkinto-date__arrival input, .bookAroom-container .checkinto-date .checkinto-date__departure input {
  width: 150px;
  height: 44px; }

.bookAroom-container .checkinto-date .checkinto-date__arrival input, .bookAroom-container .checkinto-date .checkinto-date__departure input, .bookAroom-container .guests-amount .guests-amount__input {
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 44px; }

.bookAroom-container .checkinto-date .checkinto-date__arrival .material-icons, .bookAroom-container .checkinto-date .checkinto-date__departure .material-icons, .bookAroom-container .guests-amount .material-icons, .bookAroom-container .room-book .material-icons {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute; }

.bookAroom-container {
  width: 380px;
  height: 512px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px 30px 30px; }
  .bookAroom-container h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    color: #1F2041; }
  .bookAroom-container h2 {
    font-size: 19px;
    font-weight: bold;
    line-height: 23px;
    color: #1F2041; }
  .bookAroom-container h3 {
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    color: #1F2041;
    margin-bottom: 5px; }
  .bookAroom-container p {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #1F2041;
    margin-top: 10px;
    color: rgba(31, 32, 65, 0.75); }
  .bookAroom-container .room-info {
    display: flex;
    justify-content: space-between; }
    .bookAroom-container .room-info h1 {
      display: inline-block; }
    .bookAroom-container .room-info p {
      display: inline-block; }
  .bookAroom-container .checkinto-date {
    display: flex;
    justify-content: space-between; }
    .bookAroom-container .checkinto-date .checkinto-date__arrival {
      display: inline-block;
      position: relative; }
      .bookAroom-container .checkinto-date .checkinto-date__arrival .material-icons {
        color: rgba(31, 32, 65, 0.5);
        bottom: 0;
        right: 0; }
    .bookAroom-container .checkinto-date .checkinto-date__departure {
      display: inline-block;
      position: relative; }
      .bookAroom-container .checkinto-date .checkinto-date__departure .material-icons {
        color: rgba(31, 32, 65, 0.5);
        bottom: 0;
        right: 0; }
  .bookAroom-container .guests-amount {
    position: relative;
    width: 320px;
    height: 44px; }
    .bookAroom-container .guests-amount .guests-amount__input {
      width: inherit;
      height: inherit; }
    .bookAroom-container .guests-amount .material-icons {
      color: rgba(31, 32, 65, 0.5);
      top: 20px;
      right: 0; }
  .bookAroom-container .room-book {
    width: 320px;
    height: 44px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    position: relative; }
    .bookAroom-container .room-book h3 {
      color: #FFFFFF;
      margin: 0 auto; }
    .bookAroom-container .room-book .material-icons {
      color: #FFFFFF;
      top: 0;
      right: 0; }
