meta(charset="UTF-8")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
script(src="https://kit.fontawesome.com/3ef9158f0f.js" crossorigin="anonymous")
style
  include bookAroom.css
body
  div.bookAroom-container
    div
      h3
      p
    div
      input
      input
    div
      button
    
                 
