html
  head
    style 
      include pagination.scss
  body
    div.pagination
      ul.pagination-pages
        li.pagination-page__number.active
          a(href="#")
            p.active-number 1
        li.pagination-page__number
          a(href="#")
            p 2
        li.pagination-page__number
          a(href="#")
            p 3
        li.pagination-page__number
          a(href="#")
            p ...
        li.pagination-page__number
          a(href="#")
            p 15
        li.pagination-page__number.next-active
          a(href="#")
            span.material-icons arrow_forward
    p 1 – 12 из 100+ вариантов аренды
