html
  head
    //- script(src="./../../air-datepicker/air-datepicker.js")
      
    //- style
      //- include ./../../air-datepicker/air-datepicker.css
    
  body
    input(id="airdatepicker" class="date-dropdown" type="text")
    span.matetial-icons expand_more
    script
      include datedropdown.js
