html
  head
    script(src="air-datepicker.js")
    script(src="date-dropdown.js")
    style
      include air-datepicker.css
  body
    input(id="airdatepicker" class="date-dropdown" type="text")
    span.matetial-icons expand_more
  
