@import "../../../../scss/ui-kit.scss";

.date-dropdown {
  position: relative;
  .matetial-icons {
    right: 0;
    top: 0;
    color: $darkShade50;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
