html
  head
    //- script(src="./../../air-datepicker/air-datepicker.js")
      
    //- style
      //- include ./../../air-datepicker/air-datepicker.css
    
  body
    div.date-dropdown
      input(id="date-dropdown" class="date-dropdown__input" type="text")
      span.matetial-icons expand_more
    script
      new AirDatepicker('#date-dropdown');
