head
  meta(charset="utf-8")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  link(rel="icon" href="images/favicon.ico" type="image/ico")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  script(src="https://kit.fontawesome.com/3ef9158f0f.js" crossorigin="anonymous")
  title #{title} 
  style
    include ../../../dist/index.css
