doctype html
html(lang='ru')
  head
    meta(charset="UTF-8")
    title #{title} 
    // переменная для названия страниц
    

  body(class=pageClass) 
    // можно задать переменную для класса боди
    include ../includes/header/header
    block main
    include ../includes/footer/footer
    
    block script
      script(src=pageScript)
