meta(charset="UTF-8")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
script(src="https://kit.fontawesome.com/3ef9158f0f.js" crossorigin="anonymous")
style
  include footer.css
body
  div.roomCard-container
    div
      img
    div
      h2 №888 люкс
      p 9990 в сутки
    div
      div
      p Отзывов
    
