html
  body
    div.roomCard-container
      div.roomCard-image
        img(src="images/room.png" class="roomCard__image" alt='room')
        //- img(src="images/room(1).png" class="roomCard__image" alt='room')
      div.roomCard-info
        div.roomCard-amount
          div
            h3 №
            h2 888 
            h3 люкс
          div
            h3 9990 
            p в сутки
        div.roomCard-line
        div.roomCard-range
          div
            include ../elements/rate button/rate-button
          div
            h3 145
            p Отзывов
      
