
.roomCard-container {
  width: 270px;
  height: 257px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  h2 {
    display: inline-block;
  }
  h3 {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
  }
  p {
    display: inline-block;
  }
  .roomCard-image {
    position: relative;

    .roomCard__image-img {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    .roomCard-image__switch {
      position: absolute;
      top: 0;
      width: 270px;
      z-index: 10;
      display: flex;
      justify-content: space-between;
      .roomCard-image__left {
        width: 42px;
        height: 151px;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        .material-icons {
          color: #fff;
        }
      }
      .roomCard-image__right {
        width: 42px;
        height: 151px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(0, 0, 0, 0.5) 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        .material-icons {
          color: #fff;
        }
      }
    }
    .roomCard-image__slider {
      position: absolute;
      bottom: 15px;
      right: 15px;
      z-index: 20;
      .rc-i__s {
        display: inline-block;
        list-style: none;
        width: 7.5px;
        height: 7.5px;
        border-radius: 50%;
        border: 1px solid #FFFFFF;
        filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
        margin-right: 4px;
        &:first-child {
          background-color: #FFFFFF
        }
      }
    }
  }
  .roomCard-info {
    padding: 20px;
    .roomCard-amount {
      display: flex;
      justify-content: space-between;
      .roomCard-amount__number {
        margin-right: 8px;
        margin-left: 4px;
      }
      .roomCard-amount__price {
        margin-right: 4px;
      }
      div {

      }
    }
    .roomCard-line {
      margin-top: 10px;
      margin-bottom: 8px;
      width: 230px;
      height: 1px;
      background: rgba(31, 32, 65, 0.1);
    }
    .roomCard-range {
      display: flex;
      justify-content: space-between;
      position: relative;
      .roomCard-range__rate-button {

      }
      .roomCard-range__review {
        margin-right: 4px;
      }
    }
  }

}
