html
  body
    div.roomCard-container
      a(href="room-details.html")
        div.roomCard-image
          div.roomCard-image__img
            img(src=ROOMCARDIMAGE class="roomCard__image-img" alt='room')
          div.roomCard-image__switch
            div.roomCard-image__left
              span.material-icons chevron_left
            div.roomCard-image__right
              span.material-icons chevron_right
          div.roomCard-image__slider
            - let count = 0;
              while count < 4
                span.rc-i__s
                - count += 1;
        div.roomCard-info
          div.roomCard-amount
            div
              h3 №
              h2.roomCard-amount__number= ROOMCARDNUMBER
              h3.pink-text люкс
            div
              h3.roomCard-amount__price.grey-text= ROOMCARDPRICE
              p в сутки
          div.roomCard-line
          div.roomCard-range
            div.roomCard-range__rate-button
              include ../elements/rate button/rate-button
            div
              h3.roomCard-range__review.grey-text= ROOMCARDREVIEW
              p Отзывов
      
