html
  body
    div.roomCard-container
      div
        img
      div
        h2 №888 люкс
        p 9990 в сутки
      div
        div
          include ../elements/rate button/rate-button
        p Отзывов
      
