html
  body
    div.roomCard-container
      div
        img(src="images/room.png" class="roomCard__image" alt='room')
        //- img(src="images/room(1).png" class="roomCard__image" alt='room')
      div
        h2 №888 люкс
        p 9990 в сутки
      div
        div
          include ../elements/rate button/rate-button
        p Отзывов
      
