meta(charset="UTF-8")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
script(src="https://kit.fontawesome.com/3ef9158f0f.js" crossorigin="anonymous")
style
  include ./../../../../../dist/main.css
body
  div.range-slider
    p
    input(type="range" min="5000" max="10000")
