@import "../../../../scss/ui-kit.scss";

.range-slider__text {
  h3 {
    display: inline-block;
  }
  p {
    display: inline-block;
    #amount {
      // display: inline-block;
      width: 140px;
      outline: none;
      border: none;
      color: $darkShade50;
      @extend %Montrserrat;
      margin-bottom: 25px;
      font-size: 12px;
      line-height: 15px;
      text-align: right;
      text-transform: uppercase;
    }
  }
}

#slider-range {
  box-sizing: border-box;
  position: absolute;
  width: 266px;
  height: 6px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 3px;
  .ui-slider-range {
    position: absolute;
    height: 6px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 3px;
  }
  .ui-slider-handle {
    position: absolute;
    width: 12px;
    height: 12px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    top: -5px;
    cursor: pointer;
  }
}
