html
  head
    style 
      include range-slider.scss
  head
    link(rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css")
    script(src="https://code.jquery.com/jquery-3.6.0.js")
    script(src="https://code.jquery.com/ui/1.13.1/jquery-ui.js")
    
  body
    p
      input(type="text" id="amount")
    div#slider-range
    script 
      include range-slider.js
