doctype
html(lang="ru")
  head
    meta(charset="UTF-8")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    script(src="https://kit.fontawesome.com/3ef9158f0f.js" crossorigin="anonymous")
    
    //- link(rel="preconnect" href="https://fonts.googleapis.com")
    //- link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    //- link(href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" )

    tittle
    style 
      include ./../dist/main.css
    //- это структура файла шаблона
  
  body
    div
      include pug/includes/header/header
    div.flex-elem
      //- div.flex-elem__elem
        //- include pug/includes/elements/bullet list/bullet-list
      //- div.flex-elem__elem
        //- include pug/includes/elements/buttons/buttons
      //- div.flex-elem__elem
        //- include pug/includes/elements/buttons/small-lilac-button
      //- div.flex-elem__elem
        //- include pug/includes/elements/buttons/small-white-button
      //- div.flex-elem__elem
        //- include pug/includes/elements/buttons/small-text-button
      //- div.flex-elem__elem
        //- include pug/includes/elements/checkbox buttons/checkbox-buttons
      div.flex-elem__elem
        include pug/includes/elements/date dropdown/date-dropdown
      //- div.flex-elem__elem
        //- include pug/includes/elements/description/description
      div.flex-elem__elem
        include pug/includes/elements/dropdown/dropdown
      div.flex-elem__elem
        include pug/includes/elements/dropdown-room/dropdown-room
      div.flex-elem__elem
        include pug/includes/elements/expandable checkbox list/expandable-checkbox-list
      div.flex-elem__elem
        include pug/includes/elements/filter date dropdown/filter-date-dropdown
      //- div.flex-elem__elem
        //- include pug/includes/elements/like button/like-button
      //- div.flex-elem__elem
        //- include pug/includes/elements/pagination/pagination
      //- div.flex-elem__elem
        //- include pug/includes/elements/radio buttons/radio-buttons
      //- div.flex-elem__elem
        //- include pug/includes/elements/range slider/range-slider
      //- div.flex-elem__elem
        //- include pug/includes/elements/rate button/rate-button
      //- div.flex-elem__elem
        //- include pug/includes/elements/review/review
      //- div.flex-elem__elem
        //- include pug/includes/elements/rich checkbox buttons/rich-checkbox-buttons
      //- div.flex-elem__elem
        //- include pug/includes/elements/subscription text field/subscription-text-field
      //- div.flex-elem__elem
        //- include pug/includes/elements/text field/text-field
      //- div.flex-elem__elem
        //- include pug/includes/elements/toggle/toggle
      //- div.flex-elem__elem
        //- include pug/includes/account registration/registration
      div.flex-elem__elem
        include pug/includes/book a room/bookAroom
      div.flex-elem__elem
        include pug/includes/room card/roomCard
      //- div.flex-elem__elem
        //- include pug/includes/room search/roomSearch
      div.flex-elem__elem
        include pug/includes/sign in/signIn
      //- div.flex-elem__elem
        //- include pug/includes/footer/footer
    script
      include js/index.js
