@import "../../../../scss/ui-kit.scss";

#like-button {
  box-sizing: border-box;
  position: relative;
  width: 40px;
  height: 20px;
  border: 1px solid $darkShade25;
  border-radius: 10px;
  position: relative;
  background-color: #FFFFFF;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
  outline: 0;
  .like {
    display: none;
    opacity: 0;
  }
  &:active {
    transform: scale(0.95);
  }
  &.selected {
    border: 1px solid $purple;
    .like {
      display: flex;
      color: $purple;
      opacity: 1;
    }
     .unlike {
      display: none;
    }
    .like-number {
      color: $purple;
    }
  }
  .material-icons {
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 9px;
    left: 0;
    top: 0;

    align-items: center;
    justify-content: center;
  }
  .unlike {
    display: flex;
    color: $darkShade25;
  }
  .like-number {
    @extend %Montrserrat;
    position: absolute;
    font-size: 10px;
    line-height: 12px;
    color: $darkShade25;
    width: 20px;
    height: 20px;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
