@import "../../../../scss/ui-kit.scss";

.like-button {
  box-sizing: border-box;
  position: absolute;
  width: 40px;
  height: 20px;
  border: 1px solid $darkShade25;
  border-radius: 10px;
  position: relative;
  background-color: #FFFFFF;
  .like {
    display: none;
  }
  &:active {
    border: 1px solid $purple;
    + .like {
      display: inline-block;
      color: pink;
    }
    .unlike {
      display: none;
    }
    + .like-number {
      color: 1px solid $purple;
    }
  }
  .material-icons {
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 9px;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .unlike {
    color: $darkShade25;
    color: #fff;
  }
  .like-number {
    font-size: 10px;
    line-height: 12px;
    color: $darkShade25;
    // &:active {
    //   color: 1px solid $purple;
    //
    // }
  }
}
