html
  body
    button#like-button
      span(class="material-icons like") favorite
      span(class="material-icons unlike") favorite_border
      p.like-number 12
    script
      include like-button.js
