meta(charset="UTF-8")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
script(src="https://kit.fontawesome.com/3ef9158f0f.js" crossorigin="anonymous")
style
  include ./../../../../../dist/main.css
body
  div.review
    div
      div.review__user-avatar
      include ./../like button/like-button.pug
    div
      div.user-info
        p.user-info__name Murad
        p.user-info__attendance 5 day ago
      p.user-review Nice!
