@import "../../../../scss/ui-kit.scss";

.review {
  width: 711px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  div {
    .review__user-avatar {
      width: 48px;
      background: url(image.png);
      border: 2px solid #FFFFFF;
      filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.1));
      border-radius: 32px;
      margin-bottom: 12px;
    }
  }
  div {
    .user-info {
      height: 48px;
      margin-bottom: 10px;
      .user-info__name {
        font-weight: 700;
      }
    }
  }
}
