html
  body
    div.review
      div
        div.review__user-avatar
        include ./../like button/like-button.pug
      div
        div.user-info
          p.user-info__name Мурад Сарафанов
          p.user-info__attendance 5 дней назад
        p.user-review Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
