html
  body
    div.review-user
      div.review-user-info
        div.user-info__avatar
          img(src= REVIEWUSERAVATAR class="review__user-avatar__img" alt='emoticon')
        include ./../like button/like-button.pug
      div.review-user-appraisal
        div
          p.user-info__name= USERINFONAME
          p.user-info__attendance= USERINFOATTENDANCE
        p.user-appraisal__review= USERAPPRAISALREVIEW
